/* Fonts used for this project */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* General style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* Body styles */
body {
  background-color: #062863;
}

body a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

body p {
  font-family: "Karla", sans-serif;
  font-size: 14px;
}

body main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
}

/* This is the style for the logo */
.logo {
  content: url(https://res.cloudinary.com/dpkreativ/image/upload/v1585749043/piggyvest/piggyvest-logo_fa3iou.svg);
  margin: auto;
  margin-top: 40px;
  grid-column: 5/9;
}

/* These are all the styles for the form */
.form-wrapper {
  margin: 2.5rem 0;
  padding: 2.5rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  background-color: #fff;
  grid-row: 2/3;
  grid-column: 5/9;
}

.form-title {
  text-align: center;
}

h1 {
  color: #083e9e;
  font-size: 24px;
}

p {
  color: #4a5568;
}

form {
  margin-top: 2rem;
}

label {
  font-size: 0.75rem;
  font-weight: 700;
  color: #4a5568;
}

input {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: #e9eef0;
  border: none;
}

input::placeholder {
  font-family: "Karla", sans-serif;
  color: #9ca7ac;
}

input.submit {
  background-color: #083e9e;
  color: #fff;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  font-weight: 700;
}

input.submit:hover {
  background-color: #062863;
  cursor: pointer;
}

.login-link {
  grid-row: 3/4;
  grid-column: 5/9;
  margin-bottom: 2rem;
}

.login-link > a > p {
  color: #fff;
}